{
  "ignorePatterns": ["Dockerfile", "*.json", "*.md", ".*", "webpack.*", "jest.*"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jsx-a11y",
    "react",
    "react-hooks",
    "prettier",
    "import",
    "prefer-arrow"
  ],
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2,
        "endOfLine": "lf"
      }
    ],
    "max-lines": ["error", {
      "max": 400,
      "skipBlankLines": false,
      "skipComments": true
    }],
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "no-debugger": "error",
    "linebreak-style": ["error", "unix"],
    "max-depth": ["error", { "max": 4 }],
    "no-lonely-if": "error",
    "complexity": ["error", { "max": 20 }],
    "curly": ["error", "all"],
    "no-alert": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-proto": "error",
    "no-return-assign": ["error", "always"],
    "no-implicit-coercion": "error",
    "no-nested-ternary": "error",
    "no-restricted-globals": [
      "error",
      {
          "name": "event",
          "message": "Use local parameter instead."
      },
      {
          "name": "Element",
          "message": "Import Element from slate"
      },
      {
        "name": "DocumentType",
        "message": "Import DocumentType locally"
      }
    ],
    "no-unneeded-ternary": "error",
    "arrow-body-style": ["error", "as-needed"],
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "eol-last": ["error", "always"],
    "padded-blocks": ["error", "never"],
    "@typescript-eslint/no-empty-function": "off",
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "sort-imports": ["error", {
      "ignoreDeclarationSort": true
    }],
    "comma-dangle": [0, "never"],
    "no-unused-vars": "off",
    "no-duplicate-imports": "error",
    "no-var": "error",
    "eqeqeq": "error",
    "radix": ["error", "always"],
    "yoda": ["error", "never"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-useless-rename": "error",
    "no-useless-return": "error",
    "no-else-return": "error",
    "array-callback-return": "error",
    "object-shorthand": ["error", "always"],
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-object-spread": "error",
    "padding-line-between-statements": ["error",
      { "blankLine": "always", "prev": "*", "next": "block" },
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "block-like" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "space-before-blocks": ["error", {
      "functions": "always",
      "keywords": "always",
      "classes": "always"
    }],
    "keyword-spacing": ["error", {
      "before": true
    }],
    "import/no-cycle": "error",
    "import/no-self-import": "error",
    "import/first": "error",
    "import/no-default-export": "error",
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/no-duplicates": "error",
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object"],
      "newlines-between": "never",
      "alphabetize": {
        "order": "asc"
      }
    }],
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "@typescript-eslint/consistent-type-imports": ["error", { "prefer": "no-type-imports" }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-base-to-string": "error",
    "@typescript-eslint/no-unsafe-assignment": "error",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/prefer-includes": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "@typescript-eslint/prefer-reduce-type-parameter": "error",
    "@typescript-eslint/restrict-template-expressions": ["error", { "allowNumber": true }],
    "@typescript-eslint/strict-boolean-expressions": "error",
    "@typescript-eslint/switch-exhaustiveness-check": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/prop-types": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "jest/prefer-expect-assertions": "error"
  },
  "overrides": [
    {
      "files": [
        "**/**.test.{ts,tsx}"
      ],
      "extends": [
        "plugin:jest/all"
      ],
      "plugins": [
        "jest"
      ]
    }
  ]
}
