@import '../../media-queries.less';

.expanded-height {
    min-height: 180px;
}

@media @mobileS {
    .center-in-mobile {
        justify-content: center;
    }
    .file-flex-item:last-child {
        margin-right: 25px;
    }
}
@media @mobileL {
    .center-in-mobile {
        justify-content: flex-start;
    }
    .file-flex-item:last-child {
        margin-right: 0px;
    }
}

.file-flex-item {
    width: initial;
    margin: 25px;
    margin-left: 0;

    .deleteLink {
        svg {
            width: 20px;
            > path {
                stroke: #ba3a26;
            }
        }
    }
}
