.expanded-height {
    min-height: 180px;
}

.file-flex-item {
    width: initial;
    margin: 0 10px;
    .deleteLink {
        svg {
            width: 25px;
            > path {
                stroke: #ba3a26;
            }
        }
    }
}

.file-flex-item:first-of-type {
    width: initial;
    margin-left: 0;
}

.file-flex-item:last-of-type {
    margin-right: 0;
}
