@import 'components/begrunnelse/begrunnelse.less';
@import 'components/summary/vedtak-summary.less';
@import 'pages/oppsummering-skjema-page/oppsummering-skjema-page.less';

@mobileS: ~'only screen and (min-width: 320px)';
@mobileM: ~'only screen and (min-width: 375px)';
@mobileL: ~'only screen and (min-width: 425px)';
@tablet: ~'only screen and (min-width: 768px)';
@laptop: ~'only screen and (min-width: 1024px)';
@laptopL: ~'only screen and (min-width: 1440px)';
@desktop: ~'only screen and (min-width: 2560px)';
@desktopL: ~'only screen and (min-width: 2560px)';

/// LENKER ///
.lenke.no-style {
    background: none !important;
}

.lenke.no-style:focus {
    box-shadow: none;
}
